.App {
  padding: 20px;
}

.App h1 {
  text-align: center;
}

.App .Gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1250px;
  margin: auto;
}

/* setting margin to 0 gets rid of the white space at the top */
h1, p {
  margin: 0;
}